* {
    font-family:  'Montserrat', 'Cantarell', 'Caladea', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


#window {
    margin: 0px;
    border: none;
    border-color: rgb(129, 126, 127);
    border-radius: 10px;
    background-color: #121212;
    color:  #708879;
}

#input {
    margin: 25px;
    background-color: #708879;
    color: black;
    border-radius: 10px;
    border: none;
}

#scroll {
    margin-bottom: 25px;
}

#entry {
    margin: 0px 25px;
}

#entry:selected {
    background-color: #337789;
    border-radius: 10px;
    border: none;
    outline: none;
}

#entry > box {
    margin-left: 15px;
}

#entry image {
    padding-right: 10px;
}
